.container-login{
    width: 430px;
    background-color: #FFFFFF !important;
}

body {
    background-color: #008374 !important;
}
.btn:hover {
    background: rgba(0, 131, 116, 0.8) !important;
}
.btn {
    background: var(--first-color) !important;
    border: 0;
    padding: 14px 45px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
:root{
    --color-default: #222222;    
    --color-secondary: #f85a40;
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #008374;
    --first-color-light: #fefeff;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}