version: "3.9"
services: 
  api:
    image: python:3
    container_name: api
    networks:
      - compose-bridge
    ports: 
      - 8080:8080
    restart: always
    volumes:
      - .\api\app:/app
      - ..\bootcamp-solicitacoescredito.csv:/data/dadosclientes.csv
    command: sh -c "pip install --no-cache-dir -r /app/requirements.txt && python /app/importar_dados.py && python /app/app.py"     
    depends_on:
      - bancodados
  
  website:
    image: httpd:2.4
    container_name: website
    networks:
      - compose-bridge
    ports: 
      - 8081:80
    restart: always
    volumes:
      - .\website:/usr/local/apache2/htdocs/     
    depends_on:
      - api
  

  bancodados:
    image: mysql:8
    container_name: bancodados
    networks:
      - compose-bridge
    ports: 
      - 3306:3306
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - .\banco_dados\script.sql:/docker-entrypoint-initdb.d/1.sql

networks:
  compose-bridge:
    driver: bridge

